@import url(../../../https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(../../../https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(../../../https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(../../../https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(../../../https://fonts.googleapis.com/css?family=Raleway:400,300,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #0079c0 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #0079c0;
  border-color: #0079c0;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #004974;
  border-color: #004974;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #004974 !important;
  border-color: #004974 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #00395a;
  color: #00395a;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #0079c0;
  border-color: #0079c0;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #0079c0 !important;
  border-color: #0079c0 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #0079c0 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #0079c0;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #41b9ff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-0 .navbar-toggler {
  color: #000000;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #000000;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-0 .link {
  font-size: 1.1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #00598d;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-0 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header5-1 .mbr-section-title {
  color: #000;
  text-align: left;
}
#header5-1 .mbr-section-lead {
  color: #9c9a9a;
}
#header5-1 .mbr-section-lead SPAN {
  color: #9c9a9a;
}
#msg-box8-2g .mbr-section-title,
#msg-box8-2g p {
  color: #fff;
}
#msg-box8-2g .mbr-section-title {
  text-align: left;
}
#msg-box8-2g .lead P {
  text-align: left;
  color: #ffffff;
  font-size: 17px;
}
#msg-box8-2g .lead {
  color: #ffffff;
  text-align: left;
}
#features6-4 H4 {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#features6-5 H4 {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#features6-2h H4 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#contacts1-y B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-y STRONG {
  font-size: 18px;
}
#contacts1-y P {
  text-align: left;
}


#menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6 .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-6 .navbar-toggler {
  color: #000000;
}
#menu-6 .close-icon::before,
#menu-6 .close-icon::after {
  background-color: #000000;
}
#menu-6 .link,
#menu-6 .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-6 .link {
  font-size: 1.1rem;
}
#menu-6 .dropdown-item,
#menu-6 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-6 .link:hover,
#menu-6 .dropdown-item:hover,
#menu-6 .link:focus,
#menu-6 .dropdown-item:focus {
  color: #c0a375;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-menu {
  background: #00598d;
}
#menu-6 .nav-dropdown-sm .link:focus,
#menu-6 .nav-dropdown-sm .link:hover,
#menu-6 .nav-dropdown-sm .dropdown-item:focus,
#menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-6 .navbar,
#menu-6 .nav-dropdown-sm,
#menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-6 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6 .bg-color.transparent.opened .link:hover,
#menu-6 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#form1-7 .form-control-label {
  color: #232323;
}
#contacts1-y B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-y STRONG {
  font-size: 18px;
}
#contacts1-y P {
  text-align: left;
}



#menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-v .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-v .navbar-toggler {
  color: #000000;
}
#menu-v .close-icon::before,
#menu-v .close-icon::after {
  background-color: #000000;
}
#menu-v .link,
#menu-v .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-v .link {
  font-size: 1.1rem;
}
#menu-v .dropdown-item,
#menu-v .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-v .link:hover,
#menu-v .dropdown-item:hover,
#menu-v .link:focus,
#menu-v .dropdown-item:focus {
  color: #c0a375;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-menu {
  background: #00598d;
}
#menu-v .nav-dropdown-sm .link:focus,
#menu-v .nav-dropdown-sm .link:hover,
#menu-v .nav-dropdown-sm .dropdown-item:focus,
#menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-v .navbar,
#menu-v .nav-dropdown-sm,
#menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-v .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-v .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-v .bg-color.transparent.opened .link:hover,
#menu-v .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-12 .mbr-section-title,
#msg-box8-12 p {
  color: #fff;
}
#msg-box8-12 .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
#header3-13 .mbr-section-title,
#header3-13 .mbr-section-subtitle {
  text-align: center;
}
#header3-13 .mbr-section-title {
  text-align: left;
}
#header3-13 .mbr-section-subtitle {
  text-align: left;
}
#header3-17 .mbr-section-title,
#header3-17 .mbr-section-subtitle {
  text-align: center;
}
#header3-17 .mbr-section-title {
  text-align: left;
}
#header3-17 .mbr-section-subtitle {
  text-align: left;
}
#header3-1d .mbr-section-title,
#header3-1d .mbr-section-subtitle {
  text-align: center;
}
#header3-1d .mbr-section-title {
  text-align: left;
}
#header3-1d .mbr-section-subtitle {
  text-align: left;
}
#header3-1f .mbr-section-title,
#header3-1f .mbr-section-subtitle {
  text-align: center;
}
#header3-1f .mbr-section-title {
  text-align: left;
}
#header3-1f .mbr-section-subtitle {
  text-align: left;
}
#header3-1h .mbr-section-title,
#header3-1h .mbr-section-subtitle {
  text-align: center;
}
#header3-1h .mbr-section-title {
  text-align: left;
}
#header3-1h .mbr-section-subtitle {
  text-align: left;
}
#header3-1j .mbr-section-title,
#header3-1j .mbr-section-subtitle {
  text-align: center;
}
#header3-1j .mbr-section-title {
  text-align: left;
}
#header3-1j .mbr-section-subtitle {
  text-align: left;
}
#contacts1-y B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-y STRONG {
  font-size: 18px;
}
#contacts1-y P {
  text-align: left;
}


#menu-1l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1l .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-1l .navbar-toggler {
  color: #000000;
}
#menu-1l .close-icon::before,
#menu-1l .close-icon::after {
  background-color: #000000;
}
#menu-1l .link,
#menu-1l .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-1l .link {
  font-size: 1.1rem;
}
#menu-1l .dropdown-item,
#menu-1l .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-1l .link:hover,
#menu-1l .dropdown-item:hover,
#menu-1l .link:focus,
#menu-1l .dropdown-item:focus {
  color: #c0a375;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-menu {
  background: #00598d;
}
#menu-1l .nav-dropdown-sm .link:focus,
#menu-1l .nav-dropdown-sm .link:hover,
#menu-1l .nav-dropdown-sm .dropdown-item:focus,
#menu-1l .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-1l .navbar,
#menu-1l .nav-dropdown-sm,
#menu-1l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1l .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-1l .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-1l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1l .bg-color.transparent.opened .link:hover,
#menu-1l .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1l .link[aria-expanded="true"],
#menu-1l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1n .mbr-section-title,
#msg-box8-1n p {
  color: #fff;
}
#contacts1-1m B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-1m STRONG {
  font-size: 18px;
}
#contacts1-1m P {
  text-align: left;
}



#menu-1q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1q .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-1q .navbar-toggler {
  color: #000000;
}
#menu-1q .close-icon::before,
#menu-1q .close-icon::after {
  background-color: #000000;
}
#menu-1q .link,
#menu-1q .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-1q .link {
  font-size: 1.1rem;
}
#menu-1q .dropdown-item,
#menu-1q .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-1q .link:hover,
#menu-1q .dropdown-item:hover,
#menu-1q .link:focus,
#menu-1q .dropdown-item:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-menu {
  background: #00598d;
}
#menu-1q .nav-dropdown-sm .link:focus,
#menu-1q .nav-dropdown-sm .link:hover,
#menu-1q .nav-dropdown-sm .dropdown-item:focus,
#menu-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-1q .navbar,
#menu-1q .nav-dropdown-sm,
#menu-1q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1q .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-1q .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1q .bg-color.transparent.opened .link:hover,
#menu-1q .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1s .mbr-section-title,
#msg-box8-1s p {
  color: #fff;
}
#msg-box8-1s .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  text-align: left;
}
#msg-box8-1s .lead P {
  text-align: left;
}
#contacts1-1r B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-1r STRONG {
  font-size: 18px;
}
#contacts1-1r P {
  text-align: left;
}



#menu-2i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2i .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-2i .navbar-toggler {
  color: #000000;
}
#menu-2i .close-icon::before,
#menu-2i .close-icon::after {
  background-color: #000000;
}
#menu-2i .link,
#menu-2i .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-2i .link {
  font-size: 1.1rem;
}
#menu-2i .dropdown-item,
#menu-2i .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-2i .link:hover,
#menu-2i .dropdown-item:hover,
#menu-2i .link:focus,
#menu-2i .dropdown-item:focus {
  color: #c0a375;
}
#menu-2i .link[aria-expanded="true"],
#menu-2i .dropdown-menu {
  background: #00598d;
}
#menu-2i .nav-dropdown-sm .link:focus,
#menu-2i .nav-dropdown-sm .link:hover,
#menu-2i .nav-dropdown-sm .dropdown-item:focus,
#menu-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-2i .navbar,
#menu-2i .nav-dropdown-sm,
#menu-2i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2i .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-2i .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2i .bg-color.transparent.opened .link:hover,
#menu-2i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2i .link[aria-expanded="true"],
#menu-2i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-3y .mbr-section-title,
#msg-box8-3y p {
  color: #fff;
}
#msg-box8-3y .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
#contacts1-2j B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-2j STRONG {
  font-size: 18px;
}
#contacts1-2j P {
  text-align: left;
}



#menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2k .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-2k .navbar-toggler {
  color: #000000;
}
#menu-2k .close-icon::before,
#menu-2k .close-icon::after {
  background-color: #000000;
}
#menu-2k .link,
#menu-2k .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-2k .link {
  font-size: 1.1rem;
}
#menu-2k .dropdown-item,
#menu-2k .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-2k .link:hover,
#menu-2k .dropdown-item:hover,
#menu-2k .link:focus,
#menu-2k .dropdown-item:focus {
  color: #c0a375;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-menu {
  background: #00598d;
}
#menu-2k .nav-dropdown-sm .link:focus,
#menu-2k .nav-dropdown-sm .link:hover,
#menu-2k .nav-dropdown-sm .dropdown-item:focus,
#menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-2k .navbar,
#menu-2k .nav-dropdown-sm,
#menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-2k .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2k .bg-color.transparent.opened .link:hover,
#menu-2k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-43 .mbr-section-title,
#msg-box8-43 p {
  color: #fff;
}
#msg-box8-43 .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
#contacts1-2l B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-2l STRONG {
  font-size: 18px;
}
#contacts1-2l P {
  text-align: left;
}



#menu-2m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2m .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-2m .navbar-toggler {
  color: #000000;
}
#menu-2m .close-icon::before,
#menu-2m .close-icon::after {
  background-color: #000000;
}
#menu-2m .link,
#menu-2m .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-2m .link {
  font-size: 1.1rem;
}
#menu-2m .dropdown-item,
#menu-2m .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-2m .link:hover,
#menu-2m .dropdown-item:hover,
#menu-2m .link:focus,
#menu-2m .dropdown-item:focus {
  color: #c0a375;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-menu {
  background: #00598d;
}
#menu-2m .nav-dropdown-sm .link:focus,
#menu-2m .nav-dropdown-sm .link:hover,
#menu-2m .nav-dropdown-sm .dropdown-item:focus,
#menu-2m .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-2m .navbar,
#menu-2m .nav-dropdown-sm,
#menu-2m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2m .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-2m .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2m .bg-color.transparent.opened .link:hover,
#menu-2m .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2m .link[aria-expanded="true"],
#menu-2m .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-3s .mbr-section-title,
#msg-box8-3s p {
  color: #fff;
}
#msg-box8-3s .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
#contacts1-2n B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-2n STRONG {
  font-size: 18px;
}
#contacts1-2n P {
  text-align: left;
}



#menu-2o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2o .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-2o .navbar-toggler {
  color: #000000;
}
#menu-2o .close-icon::before,
#menu-2o .close-icon::after {
  background-color: #000000;
}
#menu-2o .link,
#menu-2o .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-2o .link {
  font-size: 1.1rem;
}
#menu-2o .dropdown-item,
#menu-2o .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-2o .link:hover,
#menu-2o .dropdown-item:hover,
#menu-2o .link:focus,
#menu-2o .dropdown-item:focus {
  color: #c0a375;
}
#menu-2o .link[aria-expanded="true"],
#menu-2o .dropdown-menu {
  background: #00598d;
}
#menu-2o .nav-dropdown-sm .link:focus,
#menu-2o .nav-dropdown-sm .link:hover,
#menu-2o .nav-dropdown-sm .dropdown-item:focus,
#menu-2o .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-2o .navbar,
#menu-2o .nav-dropdown-sm,
#menu-2o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2o .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-2o .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2o .bg-color.transparent.opened .link:hover,
#menu-2o .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2o .link[aria-expanded="true"],
#menu-2o .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-3w .mbr-section-title,
#msg-box8-3w p {
  color: #fff;
}
#msg-box8-3w .lead P {
  text-align: left;
}
#msg-box8-3w .mbr-section-title {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
#contacts1-2p B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-2p STRONG {
  font-size: 18px;
}
#contacts1-2p P {
  text-align: left;
}



#menu-2q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2q .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-2q .navbar-toggler {
  color: #000000;
}
#menu-2q .close-icon::before,
#menu-2q .close-icon::after {
  background-color: #000000;
}
#menu-2q .link,
#menu-2q .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-2q .link {
  font-size: 1.1rem;
}
#menu-2q .dropdown-item,
#menu-2q .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-2q .link:hover,
#menu-2q .dropdown-item:hover,
#menu-2q .link:focus,
#menu-2q .dropdown-item:focus {
  color: #c0a375;
}
#menu-2q .link[aria-expanded="true"],
#menu-2q .dropdown-menu {
  background: #00598d;
}
#menu-2q .nav-dropdown-sm .link:focus,
#menu-2q .nav-dropdown-sm .link:hover,
#menu-2q .nav-dropdown-sm .dropdown-item:focus,
#menu-2q .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-2q .navbar,
#menu-2q .nav-dropdown-sm,
#menu-2q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2q .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-2q .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2q .bg-color.transparent.opened .link:hover,
#menu-2q .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2q .link[aria-expanded="true"],
#menu-2q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-44 .mbr-section-title,
#msg-box8-44 p {
  color: #fff;
}
#msg-box8-44 .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
#msg-box8-44 .lead P {
  text-align: left;
}
#header3-47 .mbr-section-title,
#header3-47 .mbr-section-subtitle {
  text-align: center;
}
#header3-4a .mbr-section-title,
#header3-4a .mbr-section-subtitle {
  text-align: center;
}
#header3-46 .mbr-section-title,
#header3-46 .mbr-section-subtitle {
  text-align: center;
}
#header3-4b .mbr-section-title,
#header3-4b .mbr-section-subtitle {
  text-align: center;
}
#header3-4c .mbr-section-title,
#header3-4c .mbr-section-subtitle {
  text-align: center;
}
#header3-4e .mbr-section-title,
#header3-4e .mbr-section-subtitle {
  text-align: center;
}
#header3-4f .mbr-section-title,
#header3-4f .mbr-section-subtitle {
  text-align: center;
}
#header3-4m .mbr-section-title,
#header3-4m .mbr-section-subtitle {
  text-align: center;
}
#header3-4g .mbr-section-title,
#header3-4g .mbr-section-subtitle {
  text-align: center;
}
#header3-4k .mbr-section-title,
#header3-4k .mbr-section-subtitle {
  text-align: center;
}
#header3-4i .mbr-section-title,
#header3-4i .mbr-section-subtitle {
  text-align: center;
}
#header3-4j .mbr-section-title,
#header3-4j .mbr-section-subtitle {
  text-align: center;
}
#contacts1-2r B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-2r STRONG {
  font-size: 18px;
}
#contacts1-2r P {
  text-align: left;
}



#menu-2s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2s .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-2s .navbar-toggler {
  color: #000000;
}
#menu-2s .close-icon::before,
#menu-2s .close-icon::after {
  background-color: #000000;
}
#menu-2s .link,
#menu-2s .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-2s .link {
  font-size: 1.1rem;
}
#menu-2s .dropdown-item,
#menu-2s .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-2s .link:hover,
#menu-2s .dropdown-item:hover,
#menu-2s .link:focus,
#menu-2s .dropdown-item:focus {
  color: #c0a375;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-menu {
  background: #00598d;
}
#menu-2s .nav-dropdown-sm .link:focus,
#menu-2s .nav-dropdown-sm .link:hover,
#menu-2s .nav-dropdown-sm .dropdown-item:focus,
#menu-2s .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-2s .navbar,
#menu-2s .nav-dropdown-sm,
#menu-2s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2s .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-2s .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2s .bg-color.transparent.opened .link:hover,
#menu-2s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2s .link[aria-expanded="true"],
#menu-2s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-42 .mbr-section-title,
#msg-box8-42 p {
  color: #fff;
}
#msg-box8-42 .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
#contacts1-2t B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-2t STRONG {
  font-size: 18px;
}
#contacts1-2t P {
  text-align: left;
}



#menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2w .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-2w .navbar-toggler {
  color: #000000;
}
#menu-2w .close-icon::before,
#menu-2w .close-icon::after {
  background-color: #000000;
}
#menu-2w .link,
#menu-2w .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-2w .link {
  font-size: 1.1rem;
}
#menu-2w .dropdown-item,
#menu-2w .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-2w .link:hover,
#menu-2w .dropdown-item:hover,
#menu-2w .link:focus,
#menu-2w .dropdown-item:focus {
  color: #c0a375;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-menu {
  background: #00598d;
}
#menu-2w .nav-dropdown-sm .link:focus,
#menu-2w .nav-dropdown-sm .link:hover,
#menu-2w .nav-dropdown-sm .dropdown-item:focus,
#menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-2w .navbar,
#menu-2w .nav-dropdown-sm,
#menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-2w .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2w .bg-color.transparent.opened .link:hover,
#menu-2w .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-40 .mbr-section-title,
#msg-box8-40 p {
  color: #fff;
}
#msg-box8-40 .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  text-align: left;
}
#msg-box8-40 .lead P {
  text-align: left;
}
#header3-41 .mbr-section-title,
#header3-41 .mbr-section-subtitle {
  text-align: center;
}
#contacts1-2x B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-2x STRONG {
  font-size: 18px;
}
#contacts1-2x P {
  text-align: left;
}



#menu-30 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-30 .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-30 .navbar-toggler {
  color: #000000;
}
#menu-30 .close-icon::before,
#menu-30 .close-icon::after {
  background-color: #000000;
}
#menu-30 .link,
#menu-30 .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-30 .link {
  font-size: 1.1rem;
}
#menu-30 .dropdown-item,
#menu-30 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-30 .link:hover,
#menu-30 .dropdown-item:hover,
#menu-30 .link:focus,
#menu-30 .dropdown-item:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-menu {
  background: #00598d;
}
#menu-30 .nav-dropdown-sm .link:focus,
#menu-30 .nav-dropdown-sm .link:hover,
#menu-30 .nav-dropdown-sm .dropdown-item:focus,
#menu-30 .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-30 .navbar,
#menu-30 .nav-dropdown-sm,
#menu-30 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-30 .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-30 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-30 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-30 .bg-color.transparent.opened .link:hover,
#menu-30 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-4w .mbr-section-title,
#msg-box8-4w p {
  color: #fff;
}
#msg-box8-4w .mbr-section-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  text-align: left;
}
#msg-box8-4w .lead P {
  text-align: left;
}
#contacts1-31 B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-31 STRONG {
  font-size: 18px;
}
#contacts1-31 P {
  text-align: left;
}


#menu-32 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-32 .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-32 .navbar-toggler {
  color: #000000;
}
#menu-32 .close-icon::before,
#menu-32 .close-icon::after {
  background-color: #000000;
}
#menu-32 .link,
#menu-32 .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-32 .link {
  font-size: 1.1rem;
}
#menu-32 .dropdown-item,
#menu-32 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-32 .link:hover,
#menu-32 .dropdown-item:hover,
#menu-32 .link:focus,
#menu-32 .dropdown-item:focus {
  color: #c0a375;
}
#menu-32 .link[aria-expanded="true"],
#menu-32 .dropdown-menu {
  background: #00598d;
}
#menu-32 .nav-dropdown-sm .link:focus,
#menu-32 .nav-dropdown-sm .link:hover,
#menu-32 .nav-dropdown-sm .dropdown-item:focus,
#menu-32 .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-32 .navbar,
#menu-32 .nav-dropdown-sm,
#menu-32 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-32 .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-32 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-32 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-32 .bg-color.transparent.opened .link:hover,
#menu-32 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-32 .link[aria-expanded="true"],
#menu-32 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-3u .mbr-section-title,
#msg-box8-3u p {
  color: #fff;
}
#contacts1-33 B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-33 STRONG {
  font-size: 18px;
}
#contacts1-33 P {
  text-align: left;
}



#msg-box8-38 .mbr-section-title,
#msg-box8-38 p {
  color: #fff;
}
#content1-39 P {
  font-family: 'Lato', sans-serif;
}
#menu-35 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-35 .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-35 .navbar-toggler {
  color: #000000;
}
#menu-35 .close-icon::before,
#menu-35 .close-icon::after {
  background-color: #000000;
}
#menu-35 .link,
#menu-35 .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-35 .link {
  font-size: 1.1rem;
}
#menu-35 .dropdown-item,
#menu-35 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-35 .link:hover,
#menu-35 .dropdown-item:hover,
#menu-35 .link:focus,
#menu-35 .dropdown-item:focus {
  color: #c0a375;
}
#menu-35 .link[aria-expanded="true"],
#menu-35 .dropdown-menu {
  background: #00598d;
}
#menu-35 .nav-dropdown-sm .link:focus,
#menu-35 .nav-dropdown-sm .link:hover,
#menu-35 .nav-dropdown-sm .dropdown-item:focus,
#menu-35 .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-35 .navbar,
#menu-35 .nav-dropdown-sm,
#menu-35 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-35 .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-35 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-35 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-35 .bg-color.transparent.opened .link:hover,
#menu-35 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-35 .link[aria-expanded="true"],
#menu-35 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-36 B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-36 STRONG {
  font-size: 18px;
}
#contacts1-36 P {
  text-align: left;
}



#msg-box8-3c .mbr-section-title,
#msg-box8-3c p {
  color: #fff;
}
#msg-box8-3c .mbr-section-title {
  font-size: 46px;
}
#content1-3d P {
  font-family: 'Lato', sans-serif;
}
#menu-3e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3e .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-3e .navbar-toggler {
  color: #000000;
}
#menu-3e .close-icon::before,
#menu-3e .close-icon::after {
  background-color: #000000;
}
#menu-3e .link,
#menu-3e .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-3e .link {
  font-size: 1.1rem;
}
#menu-3e .dropdown-item,
#menu-3e .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-3e .link:hover,
#menu-3e .dropdown-item:hover,
#menu-3e .link:focus,
#menu-3e .dropdown-item:focus {
  color: #c0a375;
}
#menu-3e .link[aria-expanded="true"],
#menu-3e .dropdown-menu {
  background: #00598d;
}
#menu-3e .nav-dropdown-sm .link:focus,
#menu-3e .nav-dropdown-sm .link:hover,
#menu-3e .nav-dropdown-sm .dropdown-item:focus,
#menu-3e .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-3e .navbar,
#menu-3e .nav-dropdown-sm,
#menu-3e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3e .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-3e .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-3e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3e .bg-color.transparent.opened .link:hover,
#menu-3e .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3e .link[aria-expanded="true"],
#menu-3e .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-3f B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-3f STRONG {
  font-size: 18px;
}
#contacts1-3f P {
  text-align: left;
}



#msg-box8-3g .mbr-section-title,
#msg-box8-3g p {
  color: #fff;
}
#content1-3h P {
  font-family: 'Lato', sans-serif;
}
#menu-3i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3i .navbar-caption {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
#menu-3i .navbar-toggler {
  color: #000000;
}
#menu-3i .close-icon::before,
#menu-3i .close-icon::after {
  background-color: #000000;
}
#menu-3i .link,
#menu-3i .dropdown-item {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#menu-3i .link {
  font-size: 1.1rem;
}
#menu-3i .dropdown-item,
#menu-3i .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-3i .link:hover,
#menu-3i .dropdown-item:hover,
#menu-3i .link:focus,
#menu-3i .dropdown-item:focus {
  color: #c0a375;
}
#menu-3i .link[aria-expanded="true"],
#menu-3i .dropdown-menu {
  background: #00598d;
}
#menu-3i .nav-dropdown-sm .link:focus,
#menu-3i .nav-dropdown-sm .link:hover,
#menu-3i .nav-dropdown-sm .dropdown-item:focus,
#menu-3i .nav-dropdown-sm .dropdown-item:hover {
  background: #006fb1!important;
}
#menu-3i .navbar,
#menu-3i .nav-dropdown-sm,
#menu-3i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3i .nav-dropdown-sm .dropdown-menu {
  background: #0079c0;
}
#menu-3i .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-3i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3i .bg-color.transparent.opened .link:hover,
#menu-3i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3i .link[aria-expanded="true"],
#menu-3i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts1-3j B {
  font-size: 16px;
  color: #0079c0;
}
#contacts1-3j STRONG {
  font-size: 18px;
}
#contacts1-3j P {
  text-align: left;
}
